<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BAKArbeit_Aicher_Maps copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BAKArbeit_Aicher_Maps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BB8F0B8186C7B82000BD677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB8F0DC186C7B85000BD677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ADF400D18A50FEE00D5D618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
